<!DOCTYPE html>
<head>
	<title> abrain </title>
	<link rel="stylesheet" type="text/css" href="{{asset "css/skeleton.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{{asset "js/Tone.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/raphael-min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/sound.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/app.js"}}"></script>
</head>

<body>
	<div class="container">
		{{{body}}}
	</div>
</body>